<div class="container">
  <h1><b>{{title}}</b></h1>
  <h3><em>{{subtitle}}</em></h3>
  <br>
  <section>
    <div class="example-label"><b>Convertir:</b></div>
    <form [formGroup]="numeroControlGroup"><mat-form-field class="example-full-width">
      <mat-label>Número arábigo</mat-label>
      <input matInput #numero maxlength="4" placeholder="Ex. 300" type="number" min="0" max="1000" required formControlName="numeroControl">
      <mat-hint align="end">{{numero.value.length}} / 4</mat-hint>
    </mat-form-field></form>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container" *ngIf="!numeroControlGroup.invalid;else groupInvalid">
          <button mat-fab color="accent" aria-label="convertir icon button" (click)="convertir()">
            <mat-icon>sync</mat-icon>
          </button>
        </div>
        <ng-template #groupInvalid>
          <div class="example-button-container">
            <button mat-fab color="accent" aria-label="convertir icon button" disabled>
              <mat-icon>sync</mat-icon>
            </button>
          </div>
        </ng-template>
      </div>
    </div>
  </section>
  <span class="errorForm"> {{getError('numeroControl')}}</span>
  <br>
  <section *ngIf="resultado">
    <div class="example-label"><b>Resultado:</b></div>
    <mat-form-field class="example-full-width">
      <mat-label>Número romano</mat-label>
      <input matInput #romano disabled [ngModel]="numRomano">
    </mat-form-field>
  </section>
</div>
